@font-face { font-family: Giraffe; src: url('../fonts/Giraffe.otf'); }
@font-face { font-family: BouncyThin; src: url('../fonts/BouncyThin.otf'); }

.japanese-indigo {
    background-color: #264653;
}

.jungle-orlen {
    background-color: #2A9D8F;
}

.hansa-yellow {
    color: #E9C46A;
}

.sandy-brown {
    background-color: #F4A261;
}

.light-red-ochre {
    background-color: #E76F51;
}

.lion-heart-red {
    color: #EE0000;
}

.coffee-brown {
    color: #6F4A38;
}

.ivory {
    color: #FFFFF0;
}

#card {
    width: 80%;
    margin: auto;
    left: 10%;
    position: absolute;
    border-radius: 80px;
}

#tile > h1, .result-title > h1 {
    font-family: BouncyThin;
    font-size: 4.5vw;
    margin-top: 1vw;
}

label, .mistakes {
    font-family: BouncyThin;
    font-size: 2.5vw;
}

#app-title {
    font-family: Giraffe;
    font-size: 11vw;
    text-align: center;
    margin-top: -2.1vw;
    margin-bottom: -1.5vw;
}

#count {
    font-family: monospace, serif;
    font-size: 3vw;
    text-align: center;
}

input[type="radio"] {
    visibility: hidden;
}

.failures {
    color: #EE0000;;
    text-decoration: line-through;
}

.answers {
    color: limeGreen;
}

#restart {
    background-color: #4CAF50;
    border: none;
    color: #FFFFF0;
    padding: 1vw 1vw 0.5vw;
    text-align: center;
    font-size: 3vw;
    margin: 1.2vw;
    cursor: pointer;
    border-radius: 20px;
    font-family: BouncyThin;
}

#prev, #next {
    background-color: #2A9D8F;
    border: none;
    color: #FFFFF0;
    padding: 0 1.5vw;
    text-align: center;
    font-size: 3vw;
    cursor: pointer;
    border-radius: 20px;
    font-family: BouncyThin;
    margin: 0.5vw 0.5vw 1vw;

}

button {
    touch-action: manipulation;
}

@media only screen and (max-width: 1242px) {
    #tile > h1, .result-title > h1 {
        font-family: BouncyThin;
        font-size: 8.5vw;
        margin-top: 4vw;
    }
    
    label, .mistakes {
        font-family: BouncyThin;
        font-size: 6.5vw;
    }

    #count {
        font-family: monospace, serif;
        font-size: 6.5vw;
        text-align: center;
        margin-bottom: 1vw;
    }
    
    #app-title {
        font-family: Giraffe;
        font-size: 32.5vw;
        text-align: center;
    }

    #restart {
        background-color: #4CAF50;
        border: none;
        color: #FFFFF0;
        padding: 2vw 2vw 0.5vw;
        text-align: center;
        font-size: 8vw;
        margin: 1.2vw;
        cursor: pointer;
        border-radius: 20px;
        font-family: BouncyThin;
    }
    
    #prev, #next {
        background-color: #2A9D8F;
        border: none;
        color: #FFFFF0;
        padding: 0 5vw;
        text-align: center;
        font-size: 10vw;
        cursor: pointer;
        border-radius: 20px;
        font-family: BouncyThin;
        margin: 1vw 0.5vw 1.4vw;
    }

    #card {
        border-radius: 40px;
    }
}